@font-face {
  font-family: Macmillan;
  src: url(../fonts/macmillan_headline.woff);
}
body{
  margin: 0;
}
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.block-group {
  *zoom: 1;
}
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-group:after {
  clear: both;
}

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.block {
  float: left;
  width: 100%;
}
.box {
  font-size: 1em;
  color: #777;
  padding-bottom: 20px;
}
h1{
  font-family: Macmillan;
  color: #00a246;
  font-size: 65px;
  margin-top: 0;
}
.bold{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.content a{
  color: #005c46;
}
.content a:hover, .bold a:active{
  color: #682c88;
}

a.telephone{
  text-decoration: none;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}

.main-header{
  background: #00a246;
  width: 100%;
  height:80px;
}
.banner{
  display: block;
}

.main-header .layout {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.logo {
    width: 177px;
    margin-top: 9px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo img {
    max-width: 167px;
}
.container{
  max-width: 100%;
  padding-top: 10px;

}

.layout {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.content .last{
  padding-bottom: 40px;
  border-bottom: 2px solid #dad9d3;
}
.medium{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

}
.small{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.input-audio, .input-load {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-audio + label span, .input-audio + label strong {
  padding: 0.625em 1.25em;
}

.input-load + label span, .input-load + label strong {
  padding: 0.625em 1.25em;
}

.input-audio + label, .input-load + label {
  border: 2px solid #1E824C;
  background-color: #ffffff;
  padding: 0;
  max-width: 80%;
  font-size: 1.25em;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz--border-radius: 3px;
}

.input-audio + label span, .input-load + label span {
  width: 200px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.input-audio + label strong, .input-load + label strong{
  height: 100%;
  color: #ffffff;
  background-color: #1E824C;
  display: inline-block;
}

.input-audio strong, .input-load strong {
  background-color: #d3394c;
}

.save-voice, .load {
  padding: .5em 2.5em;
  display: block;
  background-color: #1E824C;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz--border-radius: 3px;
  font-size: 1em;
}

.save-voice:hover {
  background-color: #674172;
}

.email {
  padding: 1em 2.5em;
  border: 2px solid #1E824C;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz--border-radius: 3px;
  font-size: 1em;
}

.submit-voice {
  padding: 1em 2.5em;
  display: block;
  background-color: #1E824C;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz--border-radius: 3px;
  font-size: 1em;
}

.submit-voice:hover {
background-color: #674172;
}

.load-texts {
padding: 1em 2.5em;
border: 2px solid #1E824C;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz--border-radius: 3px;
font-size: 1em;
}


@media only screen and (max-width:985px) {
  .content-banner img{
    width:100%;
  }
  .main-header, .layout{
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
nav ul
{
    list-style: none;
}
 nav ul li {
  width: 15.45%;
  float: left;
  height: 44px;
  padding-left:200px;
}
nav ul li a {
  padding-top: 34px;
  padding-left: 2%;
  padding-right: 2%;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Avenir-LT-W01-95-Black', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1em;
  font-size: 1.1em;
  height: 44px;
}
 nav ul li a span {
  display: block;
  padding: 0 8px;
}
 nav ul li:hover,
 nav ul li:focus {
  outline: 0;
  height: 44px;
}
 nav ul li a:hover,
 nav ul li a:focus {
  text-decoration: underline!important;
  outline: 0;
  height: 44px;
}
